*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
}
.btn{
    width: 130px;
    height: 50px;
    background: rgba(0, 0, 0, 0.533);
    border: 3px solid ;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(0, 255, 255);
    font-weight: 500;   
}
.center-button{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.modal-box{
    width: 316px;
    height: 295px;
    background: transparent;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 100px;
    left: 520px;
    border: 1px solid rgba(255,255,255,.5);
    box-shadow: 2px 0px 10px black;
    border-radius: 10px; 
    padding: 30px;
    display: none;
}
#title{
    margin-left: 65px;
    margin-top: 50px;
    height: 30px;
    border: none;
    background-color: #ffffff52;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    padding-left: 10px;
}
#description{
    margin-left: 16px;
    margin-top: 22px;
    height: 75px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff52;
    transition: all 0.3s ease 0s;
    padding: 10px;
}
label {
    float: left;
    width: 23em;
    font-family: math;
    font-weight: 550;
    color: white;

}
p{
 padding-left: 32%;
 font-family: math;
 font-size: 20px;
 font-weight: 700;
 color: rgb(255, 255, 255);
}
#add{
    width: 90px;
    height: 30px;
    margin-left: 145px;
    margin-top: 50px;
    background-color: #00ff1fa8;
    font-family: math;
    font-size: 14px;
   text-transform: uppercase;
   font-weight: 500;
   color: rgb(17, 72, 17);
   border: none;
   border-radius: 10px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;

}

